.about {
  margin: 0px auto;
  background-image: url("src/assets/react.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.about-title {
  text-align: center;
}

.about-title > h1 {
  margin: 25px 0 10px;
  font-size: 3rem;
}

.movie-poster {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px 100px;
  gap: 20px;
}

.movie-poster > img {
  width: 100%;
  height: 100%;
}

.mission-statement {
  margin: 60px auto;
  width: 40vw;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}

.mission-statement > h2 {
  font-size: 30px;
  font-weight: 1000;
}

.mission-statement > p {
  font-weight: 500;
  line-height: 25px;
}
