* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  padding: 10px;
}

main {
  border: 2px solid green;
  width: 50vw;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}
