header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  box-shadow: rgba(23, 23, 23, 0.05) 2px 1px 5px 0px;
  padding: 10px 0;
  background-color: aliceblue;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0);
}

img {
  width: 50px;
  /* margin-right: 15px; */
}

span {
  font-size: 2rem;
}
