header {
  border-radius: 15px 15px 0 0;
  margin: 7px 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(198, 52, 101);
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
}

img {
  width: 40px;
}

span {
  margin-left: 7px;
}
