.journal {
  border-radius: 0 0 15px 15px;
  margin: 0 7px 0;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.location-image {
  margin: 0 15px;
  width: 200px;
  height: 250px;
  border-radius: 5px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  margin: 0 10px;
}

.title {
  font-size: 2rem;
  font-weight: 1000;
  margin: 5px 0 15px;
}

.date {
  margin: 0;
  font-weight: 600;
}

.text {
}

.marker {
  width: 10px;
}

hr {
  width: 70%;
  border: none;
  border-top: 1px solid rgb(221, 216, 216);
}

a {
  all: unset;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: rgb(112, 106, 106);
  cursor: pointer;
}

a:hover {
  color:rgb(0, 45, 209) ;
}
