* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  background-color: #282d35;
  color: white;
}

header {
  height: 90px;
  background-color: #21222a;
  padding: 30px 25px;
}

nav {
  display: flex;
  align-items: center;
  height: 100%;
}

nav > img {
  width: 40px;
  margin-right: 7px;
}

nav > span {
  color: #61dafb;
  font-size: 1.rem;
  font-weight: 700;
}

li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}

main {
  padding: 60px 30px;
  background-image: url(src/assets/react-logo-half.png);
  background-repeat: no-repeat;
  background-position: right 70%;
  background-size: 200px;
}

main > h1 {
  margin: 0;
  font-size: 2.4rem;
}

.facts-list {
  margin-top: 46px;
  max-width: 400px;
}

.facts-list > li {
  padding-block: 10px;
  line-height: 19px;
}